body {
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;

    background-image: url('https://cdn.pixabay.com/photo/2024/05/09/20/15/ai-generated-8751738_1280.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    color: #fefefe;
}

  .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #333;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        
        }

h1,
h2 {
    text-align: center;
    color: #fefefe;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1e8449;
    color: #fefefe;
    font-size: 20px;
    transition: background-color 0.3s;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
}

.menu button:hover {
    background-color: #1e8449;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #fefefe;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: #1e8449;
    color: #fefefe;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color: #1e8449;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #1e8449;
    color: #fefefe;
}

.hidden {
    display: none;
}

.icon {
    margin-right: 5px;
}

 #login {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
   
}
        
#login h1,
#login h2 {
    margin-bottom: 20px;
  }
        
#login input {
     width: calc(100% - 20px);
     padding: 10px;
     margin-bottom: 15px;
     border-radius: 5px;
     font-size: 1rem;
     background-color: #fefefe;

     color: #333;
     text-align: center;
 }
        
#login button {
     background-color: #ff6a00;
     color: #fefefe;
     border: none;
     padding: 10px 20px;
     font-size: 1rem;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
  }
        
#login button:hover {
     background-color: #1e8449;
}